# .gitignore
#
# Author: José V S Carneiro <git@josevaltersilvacarneiro.net>
# GPLv3

# testing programs
Tests/

Log/

# vendor
Src/vendor/

# generated automatically by composer
Src/composer.lock

# JavaScript will not compile
Public/JavaScript
