# .gitignore
#
# Author: José V S Carneiro <git@josevaltersilvacarneiro.net>
# GPLv3

# see https://github.com/josevaltersilvacarneiro/database_html
Migrations/

.env

./Log/*

# vendor
Src/vendor/

# generated automatically by composer
Src/composer.lock

# JavaScript will not compile
Public/JavaScript

# unitary tests
Src/Classes/Sql/MockConnect.php
