{#
 * This package is responsible for displaying the html elements.
 * 
 * Copyright (C) 2023, José V S Carneiro
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * This program is distributed in the hope that it will be useful,    
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License 
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "Logout.html.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href={{ CSS_ ~ 'Credential.css' }}>
{% endblock %}

{% block body %}

<form action="{% block form_action FORM_ACTION_ %}" method="POST" id="form__center__body__element" class="d-flex justify-content-evenly align-items-center flex-column">
{% block form %}
    <div class="form__field">
        <label for="form__center__body__email" class="d-flex align-items-center">Email</label>
        <input type="email" id="form__center__body__email" name="email" class="form__field__element" placeholder="example@jose.net" required autofocus></input>
    </div>
    <div class="form__field">
        <label for="form__center__body__password" class="d-flex align-items-center">Password</label>
        <input type="password" id="form__center__body__password" name="password" class="form__field__element" placeholder="TheLoveisBeaut1ful" required autocomplete=off></input>
    </div>
    <div class="form__field d-flex align-items-center">
        <input type="submit" id="form__center__body__submit" class="btn btn-primary border border-0 text-center Click" value="Enter">
    </div>
{% endblock %}
</form>

{% endblock %}
