{#
 * This package is responsible for displaying the html elements.
 * 
 * Copyright (C) 2023, José V S Carneiro
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * This program is distributed in the hope that it will be useful,    
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License 
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 * 
 * @package     Josevaltersilvacarneiro\Html\App\View\Register
#}

<main class="d-flex justify-content-center align-items-center">
    <div id="RegisterMainDiv" class="rounded-4">
        <!-- MAIN DIV -->
        <div id="RegisterMainDivHeader" class="d-flex justify-content-center align-items-center">
            <!-- _LOGO -->
            <img src="{{ LOGO_ }}"
				alt="greater-than and less-than signs with a vertical bar inside"
				title="Web Development" class="rounded-circle" id="logo">
        </div>
        <div id="RegisterMainDivFooter" class="d-flex justify-content-center">
            <!-- APP FORM -->
            <form class="d-flex justify-content-between align-items-center flex-column Form">
                <!-- FIELDS -->
                <div id="RegisterFormDivName" class="RegisterFormFields">

                    <label for="RegisterFormName" class="d-flex align-items-center">Fullname</label>

                    <input id="RegisterFormName" type="text" placeholder="José" required autofocus>
                </div>
                <div id="RegisterFormDivEmail" class="RegisterFormFields">

                    <label for="RegisterFormEmail" class="d-flex align-items-center">Email</label>

                    <input id="RegisterFormEmail" type="email" placeholder="example@jose.net" required>
                </div>
                <div id="RegisterFormDivPassword" class="RegisterFormFields">

                    <label for="RegisterFormPassword" class="d-flex align-items-center">Password</label>

                    <input id="RegisterFormPassword" type="password" placeholder="TheLoveisBeaut1ful" required>
                </div>
                <div id="RegisterFormDivCode" class="RegisterFormFields">

                    <label for="RegisterFormCode" class="d-flex align-items-center">Code</label>

                    <input id="RegisterFormCode" type="text" placeholder="897889" required>
                </div>
                <!-- BOTTOM -->
                <div id="RegisterFormButtons" class="d-flex justify-content-between align-items-center RegisterFormFields">
                    <input id="RegisterButtonBack" class="btn btn-primary border border-0 text-center Click" type="button" value="Back">
                    <input id="RegisterButtonContinue" class="btn btn-primary border border-0 text-center Click" type="button" value="Continue">
                </div>
            </form>
        </div>
    </div>
</main>
