{#
 * This package is responsible for displaying the html elements.
 * 
 * Copyright (C) 2023, José V S Carneiro
 * 
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * any later version.
 * 
 * This program is distributed in the hope that it will be useful,    
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License 
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
#}

{% extends "Main.html.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href={{ CSS_ ~ 'Solid.css' }}>
{% endblock %}

{% block main %}

<h2 class="h2 fw-normal text-center mt-2">What is SOLID</h2>

<p class="fs-6 fw-normal lh-base">
    The SOLID postulates were presented by Robert C. Martin in a paper published in the year 2000 whose title is "Design Principles and Design Patterns". The SOLID acronym was introduced later, around 2004, by Michael Feathers.
</p>
<p class="fs-6 fw-normal lh-base">
    In software engineering, SOLID is a mnemonic acronym for five design principles intended to make object-oriented designs more understandable, flexible, and maintainable.
</p>

<div class="accordion" id="accordionExample">
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Single-responsibility principle
        </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        There should never be more than one reason for a class to change. In other words, every class should have only one responsibility.
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Open–closed principle
        </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        Software entities should be open to extension, but closed to modification.
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Liskov substitution principle
        </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        Objects in a program must be replaceable by instances of their subtypes without altering the program's functionality.
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Interface segregation principle
        </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        Many specific client interfaces are better than one for all purposes.
        </div>
    </div>
</div>
<div class="accordion-item mb-2">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Dependency inversion principle
        </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
        Depend upon abstractions, not concretions.
        </div>
    </div>
</div>
</div>

{% endblock %}
